layout {

    focus-ring {
        active-color "#e46771"
        inactive-color "#291416"
        urgent-color "#d83340"
    }

    border {
        active-color "#e46771"
        inactive-color "#291416"
        urgent-color "#d83340"
    }

    shadow {
        color "#29141670"
    }

    tab-indicator {
        active-color "#e46771"
        inactive-color "#8d0c16"
        urgent-color "#d83340"
    }

    insert-hint {
        color "#e4677180"
    }
}

recent-windows {
    highlight {
        active-color "#e46771"
        urgent-color "#d83340"
    }
}
